@import url(https://fonts.googleapis.com/css?family=Oswald);

*{
margin:0;
padding:0;
box-sizing: border-box;

}

.maxWidth{
    max-width: 100%;
    margin-top: 20px;
}
.upper{
    background: linear-gradient(to left, #547dee 52%, #0e0c8f 100%);
    width: 100%;
    float: right;
    margin: 0;
    padding: 0;
    height: 0;
    
}
.upper ul li{
    list-style: none;
    float: left;
    padding: 0px 20px;
    margin: 0;

}
.upper ul li a, p{
    float: right;
    color: #424344;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none!important;
    font-family: 'Bitter', serif;
    font-size: 14px;
   font-weight: 900;
   padding: 0;
   margin: 0;
  
}
.upper ul li a:hover{
    color: rgb(107, 131, 79);
}
.head-top img{
    height: 130px;
    width: 200px;
}
.logo{
    padding: 0 20px;
    border: none;
  
    
}
#log{
    padding-left: 600px;
    color: #fff;
}
#blogin{
   border-left: #ffff66 solid 2px;
}
.messenger{
  margin:0;
  padding:15px;
  background: inherit;
  position:fixed;
    z-index:99;
    width: 100px;
    height: 100px;
  cursor: pointer;
    bottom: 20px;
    border: none;
    outline: none;
    right:50px;
    
   
}
.messenger i{
    margin:0;
    padding:15px;
    background: inherit;
    position:fixed;
      z-index:99;
      width: 100px;
      height: 100px;
    cursor: pointer;
      bottom: 10px;
      border: none;
      outline: none;
      right:57px;
}
.messenger p{


    display: inline-block;
    padding: 0;
    width:20px;
    height: 20px;
    line-height: 20px;
    font-size: 9px;
    font-weight: 900;
    color:#fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: crimson;
    border-radius: 50px;
    position: relative;
    top:2px;

}
.fa-comments{
    color: #0084ff;
    padding-left: 1200px;
    margin-bottom: 200px;
}
#messengerBox{
    text-align: center;
    width: 350px;
    height: 500px;
    background: linear-gradient(90deg, #ffb7c5
    20px, transparent 1%)center,linear-gradient(#fcc8d2 20px, transparent 1%)center,
    #ffdce3;
    background-size: 21px 60px;
    position:fixed;
        margin-left: 860px;
        top:21%;
        z-index: 99;
        border-radius: 25px;
overflow: auto;
overflow-x: hidden;
display:none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #ffdce3;
    border-radius:4px;
    height: auto;
    outline:none;
    display: none;
}
::-ms-scrollbar{
    width: 10px;
}
::-ms-scrollbar-thumb{
    background: #0c63b4;
    border-radius:5px;
    height: 2px;
    outline:none;
}
.msgHead{
    position:fixed;
    z-index:1;
    background: #ebaab7;
    width:25%;
    height: 50px;
    margin:2px;
    padding:0;
    text-align:left;
    left:860px;
   margin-bottom: 200px;
}
.pp{
    font-size:18px;
    position:none;
    float:none;
    
}
.fa-times-circle{
padding-left: 220px;
background: inherit;
}
.fa-times-circle:hover{
    color:#fff;
    cursor:pointer;
}
.rightMsg{
    margin-bottom: 20px;
        background:#ecb9c2;
        color: rgb(58, 58, 58);
    border-radius:20px;
    width: auto;
    height: auto;
    float: right;
    padding: 1px 12px;
   margin-left: 90px;
   font-size: 17px;

}
.rightMsg .msgPic{
    border-radius:150px;
    width: 40px;
    height: 40px;
    float:left;
    margin-top: 10px;
    border: none;
    background: inherit;
}
.rightMsgTime{
    margin:0;
    padding:0;
    float: right;
    color: rgba(0,0,0, 0.4);
    font-size: 12px;
}
.rightMsg img{
    border: none;
}

.leftMsg{
    margin-bottom: 20px;
    background:#ecb9c2;
    color: rgb(58, 58, 58);
    padding-top:30px;
    border-radius:20px;
    width: auto;
    height: auto;
    float: left;
    padding: 1px 12px;
    margin-right: 90px;
    font-size: 17px;
}
.leftMsg .msgPic{
    border-radius:150px;
    width: 40px;
    height: 40px;
    float:left;
    margin-top: 10px;
    border: none;
    background: inherit;
}
.leftMsg img{
    border: none;
}

.leftMsgTime{
    margin:0;
    padding:0;
    float: right;
    color: rgba(0,0,0, 0.4);
    font-size: 12px;
}

.msgOption ul li{
    width: 33.33%;
    margin: 0;
    float: left;
    list-style: none;
    padding: 5px 10px;
    background:#925662;
    border-radius: 150px;
    color: #fff;
}

.msgMessage .em---1{
   float: none;
   text-align: right;
}
#msgCom{
    margin:0;
    padding:0;
}
#emojiCont{
    
    padding:10px 5px;
    margin:0px;
    background: #fcc8d2;
    border-radius: 30px;
   display:none;
    
}
.fa-sign-in {
    color: #4267b2;
}
.fa-3x{
    float: right;
    margin-top: -4%;
   right: 170px;
    position: relative;
}

#fb{
    line-height: 32px;
    
        
    background: #fff;
    border-radius: 50% 8px 10px 50%;
    color: #305891;
    font-size: 40px;
    height: 32px;
    width: 32px;
    margin: 5px;

  
    
}
#fb:hover{
    color: #4267b2;
    cursor: pointer;
}
.fa-shopping-basket{
    color: #8b32d8;
margin-left: 200px;
}
.noti p {
    margin-top: -4.5%;
    z-index: 1;
    right: 166px;
}
.notif{
    display: inline-block;
    padding: 0;
    width:20px;
    height: 20px;
    line-height: 20px;
    font-size: 9px;
    font-weight: 900;
    color:#fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: crimson;
    border-radius: 50px;
    position: relative;
    top:3px;

}
.head-top{
   padding-top: 60px;
   background: linear-gradient(to left, #5e6fa3 52%, #242363 100%);
   color:#fff;
}
.head-top ul li{
    list-style: none; 
    color:#fff;

   
}
.container-4{
    overflow: hidden;
    width: 650px;
    vertical-align: middle;
    white-space: nowrap;
    left: 30%;
    top:15%;
   position: relative;
  }
  
  .container-4 input#search{
    width: 650px;
    height: 50px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #424344;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .container-4 input#search::-webkit-input-placeholder {
     color: #aeaeae;
  }
   
  .container-4 input#search::-moz-placeholder { 
     color: #aeaeae;  
  }
   
  .container-4 input#search:-ms-input-placeholder {  
     color: #aeaeae;  
  }
  
  .container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    border: none;
    background: #66ff99;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
   
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }
  
  .container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
   
  .container-4:hover button.icon:hover{
    background: #00ff00;
  }
  .drp{
      padding: 0;
      margin:0;
    left: 30%;
  }
  .dropdown:hover>.dropdown-menu{
      display: block;
  }
  .dropdown>.dropdown-toggle:active{
      pointer-events: none;
  }
  .drp ul li{
      float:left;
      list-style: none;
      left:30%;
  }

.cart ul li{
list-style: none;
float: left;

}
.cart{
   left: 50%;
}
.logo img{
    position: absolute;
    top:10%;
    width: 300px;
}


#a-submenu{
    left: 30%;
    color:inherit;
    padding-left: 30px;
}

.headSearch{
    font-family: 'Bitter, serif';
    margin-top: 10px;

}
.headSearch h5{
    padding:0 25px;
}
.headSearch .fa{
    line-height: 20px;
    color: #616161;

  
}
.headSearch a{
    text-decoration: none!important;
    color:#4267b2
}
.headSearch a:hover{
    color:#2f75ff;
}
.headSearch .fa-folder{
    color: #FFE9A2;

}
.headSearch .fa-search{
    color:#2f75ff;
}
.headSearch .fa-home{
    color:#66ff99;
}

.leftSearch{
  
    font-family: 'Bitter, serif';
}
.leftSearch .btncat{
    border: none;
    background: inherit;
    outline: none;
    cursor: pointer;
    color: #616161;
    width: 100%;
    text-align: left;
}
.leftSearch .btncat:hover{
    color: rgb(60, 91, 194) ;
}
.leftSearch h5{
    padding: 0 25px;
    
}
.leftSearch h6{
    padding: 2px 35px;
}


.leftSearch .fah{
    color:red;
    padding-left: 20px;
    animation: fa-beat 5s ease infinite;
}
.nofah{
    color: rgb(214, 130, 130);
    padding-left: 20px;
}
@keyframes fa-beat{
    0%{
        transform:scale(1);
    }
    5%{
        transform:scale(1.25);
    }
    20%{
        transform:scale(1);
    }
    30%{
        transform:scale(1);
    }
    35%{
        transform:scale(1.25);
    }
    50%{
        transform:scale(1);
    }
    55%{
        transform:scale(1.25);
    }
    70%{
        transform:scale(1);
    }
}
.rightSort{
    padding: 0;
    margin: 0;
}
.rightSearchSort .fa-table{
    color: #5e9e73;
    cursor: pointer;
    font-size: 16px;
}
.rightSearchSort .fa-align-justify{
color: #97be4d;
cursor: pointer;
}
.rightSearchSort .fa-table:hover{
    color: #274130;
}
.rightSearchSort .fa-align-justify:hover{
color: #556b2b;


}
.fa-info-circle{
    color: orange;
    margin: 0;
    padding: 0;
}
.result{
    float: right;
    padding: 0;
    margin: 0;
  
}
.searchContent .searchContentItem{
    
    height: 400px;
    width: 300px;
    background-color: #fff;
}
.rightSearch img{
width: auto;
height: 290px;
border: none;
}

.searchContent ul li{
    list-style: none;
    float: left;
    padding-left: 10px;
   padding-bottom: 70px;
    border: none;

}
.searchContentItem:hover{
    border: 1px solid rgb(226, 226, 226);
    cursor: pointer;

}
.searchContent{
    margin-top:0px;
}
.searchContentItem .title{
    font-size: 14px;
float: none;
padding: 0;
margin: 0;
background: #FFF;
}

.price{
    font-size: 32px;
float: none;
padding: 0;
margin: 0;
background: #FFF;
color: #b12e06;

}
#today{
    font-size: 50px;
    font-family: 'Bitter, serif';
    padding-top: 20px;
    text-align: center;

}
.todayContent{
    margin: 0;
    padding: 0;
    border:none;

}
.todayContent .title{
    font-size: 14px;
float: none;
padding: 0;
margin: 0;
background: #FFF;

}
.todayContent img{
    width: auto;
    height: auto;
    border: none;
}
.todayContentItem{
    width: 300px;
    height: 275px;
}
.todayContent ul li{
    float:left;
    list-style: none;
    padding-top:10px;
    padding-left:20px;
    
}
.todayContentItem:hover{
    border: 1px solid rgb(226, 226, 226);
    cursor: pointer;

}




.g-signin2{
    width: 500px;
}
.userLogin{
    margin:0;
    width: 640px;
    height: auto;
    background: #fdf9f9;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.userLogin p{
    margin: 0;
    padding: 0;
    float: none;
    text-align: center;
    font-style: "Bitter, serif";
    font-size: 18px;
}
.userLogin .loginHead{
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
}


.wrapper {
    height: 50px;
    margin-top: calc(50vh - 25px);
    margin-left: calc(50vw - 100px);
    width: 180px;
  }
  .circle {
    border-radius: 50%;
    border: 3px #723838 solid;
    float: left;
    height: 50px;
    margin: 0 5px;
    width: 50px;
  }
    .circle-1 {
      animation: move 1s ease-in-out infinite;
    }
    .circle-1a {
      animation: fade 1s ease-in-out infinite;
    }
    @keyframes fade {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    .circle-2 {
      animation: move 1s ease-in-out infinite;
    }
    @keyframes move {
      0% {transform: translateX(0);}
      100% {transform: translateX(60px);}
    }
    .circle-1a {
      margin-left: -55px;
      opacity: 0;
    }
    .circle-3 {
      animation: circle-3 1s ease-in-out infinite;
      opacity: 1;
    }
    @keyframes circle-3 {
      0% {opacity: 1;}
      100% {opacity: 0;}
    }
#loader{
    text-align: center;
}
#loader2{
    text-align: center;
}
    .loadLoad {
        color: #222;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin: 40px auto;
        text-transform: uppercase;
      }
      .loadLoad2 {
        color: #222;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin: 40px auto;
        text-transform: uppercase;
      }
    .thumbs img ul li{
        background:black;
        width:30px;
        float: left;
        right: 200px;
    }
    #searchDisplay{

    vertical-align: middle;
    white-space: nowrap;
    left: 30.5%;
    top:19.5%;
    z-index: 99;
    background: #faf7f7;
    width: 605px;
    position: absolute;
    border-radius: 10px;
    height: auto 370px;
    display: none;
    }
    #searchDisplay ul li{
        padding: 10px 20px;
        margin: 0;

    }
    #searchDisplay li:hover{
        background: #66ff99;
        border-radius: 10px;
    }

    #userprof{

        vertical-align: middle;
        white-space: nowrap;
        right: 80px;
        top: 40px;
        z-index: 99;
        background: #faf7f7;
        width: auto;
        position: absolute;
        border-radius: 10px;
        height: auto 370px;
        display:none;
    
        }
        #userprof ul li{
            padding: 10px 20px;
            margin: 0;
            float: left;
            width: 100%;
            cursor: pointer;
    
        }
        #userprof li:hover{
            background: #66ff99;
            border-radius: 10px;
        }
.footer{
    margin-top: auto;
    background: inherit;
   
}


  
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 900px;
  
  }
  .slider img{
    padding-left: 50px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 15s linear infinite;
            animation: scroll 15s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  

.footer hr{
color:#ffff00;
background-color: #ffff00;
border-color:#ffff00;
}
.footer p{
    float:left;
}

/* progress bar */
.carousel-progress-bar-timer {
    display: block;
    height: 5px;
    background-color: #039be5;
    width: 0%;
    margin: 0;
    border: none;
    z-index: 11;
    position: fixed;
    top: 0px;
  }
  
  .carousel-progress-bar-timer.animate {
    /* We make the transition time shorter to avoid the slide transitioning
      before the timer bar is "full" - change the 4.25s here to fit your
      carousel's transition time */
    -webkit-transition: width 8s linear;
    -moz-transition: width 8s linear;
    -ms-transition: width 8s linear;
    -o-transition: width 8s linear;
    transition: width 8s linear;
  }
  
  .carousel
    .transition-timer-carousel-left-progress-bar.stopanimation,
  .carousel
    .transition-timer-carousel-progress-bar.stopanimation {
    /* class to fix IE bug that make transition continue even when you remove the class .animate */
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  