<style>
.product {
  width: 30%;
  margin: 30px;
}

.form-group {
  width: 30%;
  margin: 30px;
}
.form-group .glyphicon {
  color: #95d7fc;
}

</style>
<body style="background:#f7f7f7;">
                <div id="messengerBox">
                        <div class="container">
                               <div class="msgHead" id="msgHead"><p class="pp">Lazada <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></p>
                               </div>
                               <div class="rightMsg">Hi im sandrex<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                                20:08</p>
                                &nbsp;&nbsp;&nbsp;
                                <img src="media/49161279_2166964706687471_7974348225228308480_n.jpg" class="img-thumbnail msgPic">
                                </div>
                               
                               
                               <div class="leftMsg"> Hello<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                                20:09</p>                     
                                &nbsp;&nbsp;&nbsp;
                                <img src="media/lazada.png" class="img-thumbnail msgPic">
                               </div>  <div class="rightMsg">Hi im sandrex<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                                20:08</p>
                                &nbsp;&nbsp;&nbsp;
                                <img src="media/49161279_2166964706687471_7974348225228308480_n.jpg" class="img-thumbnail msgPic">
                                </div>
                               
                               
                               <div class="leftMsg"> Hello<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                                20:09</p>                     
                                &nbsp;&nbsp;&nbsp;
                                <img src="media/lazada.png" class="img-thumbnail msgPic">
                               </div>  <div class="rightMsg">Hi im sandrex<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                                20:08</p>
                                &nbsp;&nbsp;&nbsp;
                                <img src="media/49161279_2166964706687471_7974348225228308480_n.jpg" class="img-thumbnail msgPic">
                                </div>
                               
                               
                               <div class="leftMsg"> Hello<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                                20:09</p>                     
                                &nbsp;&nbsp;&nbsp;
                                <img src="media/lazada.png" class="img-thumbnail msgPic">
                               </div> 
        
                             <div class="msgMessage">
                        <textarea class="form-control" rows="3" id="msgCom" placeholder="Type a message..."></textarea>
                      <div id="emojiContClose" style="display:none;"> <i class="fa fa-times-circle fa-1x" aria-hidden="true" style="float:right;"></i></div> 
                      <div class="container emojiCont" id="emojiCont"><br>
                                        <i class="em em-grinning"></i>
                                        <i class="em em-grin"></i>
                                        <i class="em em-smiley"></i>
                                        <i class="em em-hushed"></i>
                                        <i class="em em-hugging_face"></i>
                                        <i class="em em-persevere"></i>
                                        <i class="em em-angry"></i>
                                        <i class="em em-rage"></i>
                                        <i class="em em--1"></i>
                                        <i class="em em-anguished"></i>
                                        <i class="em em-astonished"></i>
                                        <i class="em em-blush"></i>
                                        <i class="em em-cry"></i>
                                        <i class="em em-disappointed_relieved"></i>
                                        <i class="em em-disappointed"></i>
                                        <i class="em em-dizzy_face"></i>
                                        <i class="em em-drooling_face"></i>
                                        <i class="em em-expressionless"></i>
                                        <i class="em em-face_with_thermometer"></i>
                                        <i class="em em-fearful"></i>
                                        <i class="em em-face_with_raised_eyebrow"></i>
                                        <i class="em em-full_moon_with_face"></i>
                                        <i class="em em-sweat_smile"></i>
                                        <i class="em em-unamused"></i>
                                        <i class="em em-white_frowning_face"></i>
                                        <i class="em em-wink"></i>
                                        <i class="em em-worried"></i>
                                        <i class="em em-zipper_mouth_face"></i>
                                        <i class="em em-zombie"></i>
                                        <i class="em em-woman-facepalming"></i>
                                        <i class="em em-wave"></i>
                                        <i class="em em-tired_face"></i>
                                        <i class="em em-smiley_cat"></i>
                                        <i class="em em-scream_cat"></i>
                                        <i class="em em-raised_hand_with_fingers_splayed"></i>
                        </div>
                        
                        <div class="msgOption">
                        <ul>
                 <li>       <i class="fa fa-file-image-o fa-1x" aria-hidden="true"></i></li>
                <li>     <i class="fa fa-smile-o fa-1x" aria-hidden="true"  id="emoji"></i> </li>
                    <li>    <i class="em em---1"></i> </li>
        </ul>
                </div>
        <br><br>
                    </div>        
                              
                        </div>
                </div>
            <div class="upper">
                
                <ul>
                <li><p>Follow us on &nbsp;&nbsp;<i class="fa fa-facebook-square fa-2x" id="fb" aria-hidden="true"></i></p> 
                </li>
                <li><a href="#">Customer support</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                
                <li><a href="#" id="log" style="color:#ffff66;">a</a></li>
                <li></li>
                <div ng-if="info.status">
                       
                       <a onclick="show()" style="text-transform: capitalize;  font-size: 22px;cursor:pointer;line-height: 50px">Hi, {{info.name}} <i class="fa fa-caret-down" aria-hidden="true"></i>
                       </a>
                       <div id="userprof">
                               <ul style="list-style: none;float:left;">
                                       <li data-toggle="modal" data-target="#ordhModal">Order History</li><br>
                                       <li data-toggle="modal" data-target="#editModal">Account Information</li><br>
                                       <li><i class="fa fa-power-off" aria-hidden="true"></i> Logout</li>
                               </ul>

                       </div>
                </div>
                <div ng-if="!info.status">
                <li id="blogin"><a href="HTML/userlogin.html" ><i class="fa fa-sign-in" aria-hidden="true" ></i>&nbsp;Login</a></li>
                <li><a href="HTML/registerloader.html" ><i class="fa fa-sign-in" aria-hidden="true" ></i>&nbsp;Register</a></li>
        </div>        
        </ul>
                </div>
                <div class="head-top" >
                  
                    <div class="logo">
                        <ul>
                        <li>  
                            <img src="media/lazada.png" >
                        </li>
                        </ul>
                        <div class="box">
                                <div class="container-4">
                                  <input type="search" ng-model="filter.searchString" ng-change="show_fetch()" ng-keyup="$event.keyCode == 13 && searchres(fetch)"  id="search" placeholder="Search for products..." />
                                  <button type="submit" class="icon"><i class="fa fa-search"></i></button>
            
                                </div>
                                
                              </div>
        
                              
                              <div id="searchDisplay" style="cursor:pointer">
                                <ul>
                                        <a ng-click="searchres(v)" href="#/search"  ng-repeat="(k, v) in fetch track by $index"  ng-if="fetch.status"> <li class="displayHov"><h6 style="text-decoration: none;" >{{v.item}}</h6></li>
                                        </a>
        
        
                                </ul>
                                <center style="padding: 5px 0px;">
                                <h5 class="float:none;text-decoration:none;margin-top: -30%" ng-if="!fetch.status">No item found</h5>
                                <a href="#" style="text-align:center" ng-if="fetch.status">Show all results</a>
                        </center>
                        <br>
                              </div>
        
                             <div class="noti">
                                 <p class="notif" ng-if="!newl.status">0&nbsp;</p>
                                 <p class="notif" ng-if="newl.status">{{newl.count}} &nbsp;</p>
                                </div>
                                  <i data-toggle="modal" data-target="#cartModal" style="cursor:pointer;" class="fa fa-shopping-basket fa-3x" aria-hidden="true"></i>
                          <div class="drp">
                                  <ul> 
                                  <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle nav-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Categories
                                        </a>
                                    </button>
                                    
                               
                                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="categories.html">All Categories</a>
                                        <a class="dropdown-item" href="#">Category1</a>
                                        <a class="dropdown-item" href="#">Category2</a>
                                        <a class="dropdown-item" href="#">Category3</a>
                                        <a class="dropdown-item" href="#">Category4</a>
                                        <a class="dropdown-item" href="#">Category5</a>
                                        <a class="dropdown-item" href="#">Category6</a>
                                        <a class="dropdown-item" href="#">Category7</a>
                                        <a class="dropdown-item" href="#">Category8</a>
        
                                       
                                        </li>
                                  </li >    <li class="nav-item dropdown"> <a id="a-submenu" href="#">Recommended</a>
                                   </li>   <li class="nav-item dropdown">  <a id="a-submenu" href="#">Best sales</a>
                                     </li>  <li class="nav-item dropdown"> <a id="a-submenu" href="#">Top products</a>
                                        </li></ul>
        
                                </div>
                                  <br><br>
        
                    </div>
                    
                </div>
            
           
            
        <div class="container-fluid maxWidth">
                        <div class="messenger" id="msgMs"><i class="fa fa-comments fa-5x" aria-hidden="true"></i><p>0&nbsp;</p>
                        </div>
<div class="container-fluid">
        <div class="recommend">
            <h1>&nbsp;</h1>
    
       

            <div class="slider">
                        <div class="slide-track">
                                <div class="slide">
                                        <img src="media/lazada.png" height="100" width="250" alt="" />
                                </div>
                                <div class="slide">
                                                <img src="media/lazada.png" height="100" width="250" alt="" />
                                        </div>
                                        <div class="slide">
                                                        <img src="media/lazada.png" height="100" width="250" alt="" />
                                                </div>
                                  <div class="slide">
                                        <img src="media/lazada.png" height="100" width="250" alt="" />
                                </div>
                                
                        </div>
                </div>
    
              
            
    </div>
          </div>
   
    
                    <div class="container-fluid today">
                      <h1>Today's Deal&nbsp;<a style="font-size:16px;" href="todaysdeal.html">see more</a></h1>
    
    
                      <div class="swiper-container v2">
                        <div class="swiper-wrapper">
                                <div class="swiper-slide v2">
                                        
                                       <a href="#" target="_blank"> <img class="img-thumbnail" src="media/lazada.png" alt="test">
                                       </a>
                                  <h4 class="price">  </h4>   
                                                              
                              </div>
                              <div class="swiper-slide v2">
                                        
                                <a href="#" target="_blank"> <img class="img-thumbnail" src="media/lazada.png" alt="test">
                                </a>
                                <h4 class="price">   </h4>   
                                                       
                       </div>
                       <div class="swiper-slide v2">
                                        
                        <a href="#" target="_blank"> <img class="img-thumbnail" src="media/lazada.png" alt="test">
                        </a>
                        <h4 class="price">   </h4>   
                                               
               </div>
               <div class="swiper-slide v2">
                                        
                <a href="#" target="_blank"> <img class="img-thumbnail" src="media/lazada.png" alt="test">
                </a>
                <h4 class="price">  </h4>   
                                       
       </div>
    
     
       
    
                              </div>
                              <div class="swiper-button-next v2n"></div>
                              <div class="swiper-button-prev v2p"></div>                       
                              </div>
                           
    
                  <br><br>
    </div>
    
    <div class="container-fluid topSearch">
      <h1>Top Search <a href="#">see more</a></h1>
      <ul> 
        <li ng-repeat="(k, v) in fetch track by $index" ng-click="top(v)" data-toggle="modal" data-target="#orderModal">
          <div class="con-top-search" style="cursor:pointer" ng-click="order(v)">
               <p style="float:left">#{{$index + 1}}</p><p style="float:left">:&nbsp;{{v.view}}&nbsp;<i class="fa fa-eye" aria-hidden="true"></i>
                 </p> 
               
                  <img class="img-thumbnail" src="media/lazada.png" alt="test">
         
         </div>
        </li>                                                                                            
       </ul>               
    </div>

   
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">My cart</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="max-height: 450px;overflow-y:auto ">
       
            <div class="row" ng-if="!newl.status">
                <h4 style="padding-left:35%;padding-top:10%;padding-bottom:10%;font-size:24px">Your Basket is Empty</h4>
   
        </div>

            <div class="row" ng-repeat="(k,v) in newl track by $index" ng-if="newl.status">
              <div class="col-lg-2" style="border: none;outline: none">
                <img src="media/lazada.png" class="img-thumbnail" style="border: none;outline: none">
              </div>
              <div class="col-lg-4" style="font-size: 22px">
                {{v.item}}
              </div>
              <div class="col-lg-2 text-danger" style="font-size: 22px">
               x {{v.quantity}}
              </div>
              <div class="col-lg-2 text-danger" style="font-size: 22px">
                &nbsp;{{v.price * v.quantity | currency:"&#8369":0}}
              </div>
              <div class="col-lg-2 text-danger" style="font-size: 22px">
                  <button type="button" ng-click="deletecart(v)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                  
                                    </div>
            </div>
       
                  
                            
          </div>
          <div class="modal-footer">
              <div class="col-lg-2 text-danger" style="font-size: 22px">
                 Total
                </div>
            <div class="col-lg-2 text-danger" style="font-size: 22px">
              &nbsp;{{v.price  | currency:"&#8369":0}}
            </div>
                <div class="col-lg-4">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Order now</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          </div>
        </div>
      </div>
    </div>
              
              <div class="modal fade" id="ordhModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">My order history</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="max-height: 450px;overflow-y:auto ">
                      <ul style="list-style: none;">
                              <li ng-repeat="(k, v) in fetch track by $index">{{v}} </li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="max-width: 1280px;" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="max-height: 500px;overflow-y:auto">
                    <div class="row">
                    <div class="col-lg-3" style="background:#f8f5f5">
                      <br>
                        <img src="media/lazada.png" class="img-thumbnail" style="border: none;outline: none"><br>

                    </div>  
                    <div class="col-lg-5" style="background: #f8f5f5">
                      <h4 style="font-size: 23px;text-transform: capitalize">{{t.item}}</h4><br>
                      <h4 style="font-size: 18px;text-transform: capitalize">{{t.description}}</h4>
                      <h3 class="text-danger" style="font-size: 32px;padding-top: 20px;">{{t.price | currency:"&#8369":0}}</h3>

<center>
                      <div class="form-group" style="text-align: center">
                        <label>Quantity: </label>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button id="down" class="btn btn-default" ng-click="minus()"><span class="fa fa-minus"></span></button>
                            </div>
                            <input type="number" id="myNumber" ng-model="quantity" class="form-control input-number"/>
                            <div class="input-group-btn">
                                <button id="up" class="btn btn-default" ng-click="plus(t)" ng-keyup="plus($event,quantity)"><span  ng-model="quantity"  ng-change="show_fetch()" class="fa fa-plus" ></span></button>
                            </div>
                            <h3 class="text-danger" style="font-size: 24px;padding-top: 20px;">Total{{t.price * quantity | currency:"&#8369":0}}</h3>
                       
                          </div>
                          
                    </div>
                    <button type="button" class="btn btn-success">ORDER NOW</button>
                    <button type="button" class="btn btn-success" ng-click="cart(t)">ADD CART</button>
                  </center>
             

                    </div>
                    <div class="col-lg-4" style="background:#f8f5f5">
                      <label><i class="fa fa-motorcycle" aria-hidden="true"></i> Delivery Address</label>
                      <h5 style="font-size: 18px;text-transform: none;">{{info.address}} </h5>
                      <label><i class="fa fa-money" aria-hidden="true"></i> Payment</label>
                      <h5 style="font-size: 18px;text-transform: none;"><i class="fa fa-calendar-o" aria-hidden="true"></i> Cash on Delivery</h5>
                      <label>Delivery Date</label>
                      <h5 style="font-size: 18px;text-transform: none;">Expected Delivery</h5>
                      <label><i class="fa fa-battery-empty" aria-hidden="true"></i> Warranty</label>
                      <h5 style="font-size: 18px;text-transform: none;">Defect</h5>


                    </div>
                    </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Account Information</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body" style="max-height: 450px;overflow-y:auto ">
                           <label>Name:</label>
                              <input class="form-control" type="text" ng-model="info.name" placeholder="name">
                              <br><label>Email:</label>
                              <input class="form-control" type="email" ng-model="info.email" placeholder="name">
                              <br><label>Contact:</label>
                              <input class="form-control" type="text" ng-model="info.contact" placeholder="contact">
                              <br><label>Address:</label>
                              <input class="form-control" type="text" ng-model="info.address" placeholder="name">
                            <br>
                              <button type="button" class="btn btn-primary" >Change Password</button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" >Save Changes</button>
    
                        </div>
                          </div>
                        </div>
                      </div>


<script>
  function up(max) {
    document.getElementById("myNumber").value = parseInt(document.getElementById("myNumber").value) + 1;
    if (document.getElementById("myNumber").value >= parseInt(max)) {
        document.getElementById("myNumber").value = max;
    }
}
function down(min) {
    document.getElementById("myNumber").value = parseInt(document.getElementById("myNumber").value) - 1;
    if (document.getElementById("myNumber").value <= parseInt(min)) {
        document.getElementById("myNumber").value = min;
    }
}

        function show(){
var x = document.getElementById("userprof");

if(x.style.display === "none"){
        x.style.display = "block";
}else{
        x.style.display = "none";
}
}
                $(document).ready(function(){
                     
                      $("#search").keyup(function(){
                              var inputID = $(this);
                
                
                              if(inputID.val() == ""){
                                $("#searchDisplay").css("display", "none");
                        }else{
                                $("#searchDisplay").css("display", "block");
                        }
                        });
                
                        
                         
                        });
                        $()
                </script>
