<style>
    @import url('https://fonts.googleapis.com/css?family=Abel|ZCOOL+XiaoWei');
    @import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Raleway');
    @import url('https://fonts.googleapis.com/css?family=Raleway:300i');

    </style>
    <body style="background:#f7f7f7;font-family: 'Raleway', sans-serif;">
        <div id="messengerBox">
                <div class="container">
                       <div class="msgHead" id="msgHead"><p class="pp">Lazada <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></p>
                       </div>
                       <div class="rightMsg">Hi im sandrex<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                        20:08</p>
                        &nbsp;&nbsp;&nbsp;
                        <img src="media/49161279_2166964706687471_7974348225228308480_n.jpg" class="img-thumbnail msgPic">
                        </div>
                       
                       
                       <div class="leftMsg"> Hello<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                        20:09</p>                     
                        &nbsp;&nbsp;&nbsp;
                        <img src="media/lazada.png" class="img-thumbnail msgPic">
                       </div>  <div class="rightMsg">Hi im sandrex<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                        20:08</p>
                        &nbsp;&nbsp;&nbsp;
                        <img src="media/49161279_2166964706687471_7974348225228308480_n.jpg" class="img-thumbnail msgPic">
                        </div>
                       
                       
                       <div class="leftMsg"> Hello<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                        20:09</p>                     
                        &nbsp;&nbsp;&nbsp;
                        <img src="media/lazada.png" class="img-thumbnail msgPic">
                       </div>  <div class="rightMsg">Hi im sandrex<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                        20:08</p>
                        &nbsp;&nbsp;&nbsp;
                        <img src="media/49161279_2166964706687471_7974348225228308480_n.jpg" class="img-thumbnail msgPic">
                        </div>
                       
                       
                       <div class="leftMsg"> Hello<br><p class="rightMsgTime"><i class="fa fa-check" aria-hidden="true"></i>
                        20:09</p>                     
                        &nbsp;&nbsp;&nbsp;
                        <img src="media/lazada.png" class="img-thumbnail msgPic">
                       </div> 
    
                     <div class="msgMessage">
                <textarea class="form-control" rows="3" id="msgCom" placeholder="Type a message..."></textarea>
              <div id="emojiContClose" style="display:none;"> <i class="fa fa-times-circle fa-1x" aria-hidden="true" style="float:right;"></i></div> 
              <div class="container emojiCont" id="emojiCont"><br>
                                <i class="em em-grinning"></i>
                                <i class="em em-grin"></i>
                                <i class="em em-smiley"></i>
                                <i class="em em-hushed"></i>
                                <i class="em em-hugging_face"></i>
                                <i class="em em-persevere"></i>
                                <i class="em em-angry"></i>
                                <i class="em em-rage"></i>
                                <i class="em em--1"></i>
                                <i class="em em-anguished"></i>
                                <i class="em em-astonished"></i>
                                <i class="em em-blush"></i>
                                <i class="em em-cry"></i>
                                <i class="em em-disappointed_relieved"></i>
                                <i class="em em-disappointed"></i>
                                <i class="em em-dizzy_face"></i>
                                <i class="em em-drooling_face"></i>
                                <i class="em em-expressionless"></i>
                                <i class="em em-face_with_thermometer"></i>
                                <i class="em em-fearful"></i>
                                <i class="em em-face_with_raised_eyebrow"></i>
                                <i class="em em-full_moon_with_face"></i>
                                <i class="em em-sweat_smile"></i>
                                <i class="em em-unamused"></i>
                                <i class="em em-white_frowning_face"></i>
                                <i class="em em-wink"></i>
                                <i class="em em-worried"></i>
                                <i class="em em-zipper_mouth_face"></i>
                                <i class="em em-zombie"></i>
                                <i class="em em-woman-facepalming"></i>
                                <i class="em em-wave"></i>
                                <i class="em em-tired_face"></i>
                                <i class="em em-smiley_cat"></i>
                                <i class="em em-scream_cat"></i>
                                <i class="em em-raised_hand_with_fingers_splayed"></i>
                </div>
                
                <div class="msgOption">
                <ul>
         <li>       <i class="fa fa-file-image-o fa-1x" aria-hidden="true"></i></li>
        <li>     <i class="fa fa-smile-o fa-1x" aria-hidden="true"  id="emoji"></i> </li>
            <li>    <i class="em em---1"></i> </li>
    </ul>
        </div>
    <br><br>
            </div>        
                      
                </div>
        </div>
    <div class="upper">
        
        <ul style="color: #fff">
        <li><a href="https://www.facebook.com/BionicWheels" target="_blank"> <p style="color: #fff">Follow us on &nbsp;&nbsp;<i class="fa fa-facebook-square fa-2x" id="fb" aria-hidden="true"></i></p> </a>
        </li>
      
        <li><a href="HTML/about.html" style="color: #fff">About us</a></li>
        <li><a href="#" style="color: #fff">Contact</a></li>
        
        <li><a href="#" id="log" style="color:rgb(68, 68, 175);"> . </a></li>
        <li></li>
        <div ng-if="info.status">
               
               <a onclick="show()" style="text-transform: capitalize;  font-size: 22px;cursor:pointer;line-height: 50px">Hi {{info.name}} <i class="fa fa-caret-down" aria-hidden="true"></i>
               </a>
               <div id="userprof">
                       <ul style="list-style: none;float:left;color:#000">
                               <li data-toggle="modal" data-target="#ordhModal">Order History</li><br>
                               <li data-toggle="modal" data-target="#editModal">Account Information</li><br>
                               <li ng-click="pks()"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</li>
                       </ul>
    
               </div>
        </div>
        <div ng-if="!info.status">
        <li id="blogin"><a href="HTML/loginLoader.html" ><i class="fa fa-sign-in" aria-hidden="true" ></i>&nbsp;Login</a></li>
        <li><a href="HTML/registerloader.html" ><i class="fa fa-sign-in" aria-hidden="true" ></i>&nbsp;Register</a></li>
    </div>        
    </ul>
        </div>
        <div class="head-top" >
          
            <div class="logo">
                <ul>
                <li>  
                    <a href="#/"><img src="media/bionic (2).png"  ></a>
                   
                </li>
                </ul>
                <div class="box">
                        <div class="container-4">
                          <input type="search" ng-model="filter.searchString" ng-change="show_fetch()" ng-keyup="$event.keyCode == 13 && searchres(fetch)"  id="search" placeholder="Search for products..." />
                          <button type="submit" class="icon"><i class="fa fa-search"></i></button>
    
                        </div>
                        
                      </div>
    
                      
                      <div id="searchDisplay" style="cursor:pointer">
                        <ul>
                                <a ng-click="searchres(v)" ng-repeat="(k, v) in fetch track by $index"  ng-if="fetch.status"> <li class="displayHov"><h6 style="text-decoration: none;" >{{v.item}}</h6></li>
                                </a>
    
    
                        </ul>
                        <center style="padding: 5px 0px;">
                        <h5 class="float:none;text-decoration:none;margin-top: -30%" ng-if="!fetch.status">No item found</h5>
                        <a href="#" style="text-align:center" ng-if="fetch.status">Show all results</a>
                </center>
                <br>
                      </div>
    
                     <div class="noti">
                         <p class="notif" ng-if="!newl.status">0&nbsp;</p>
                         <p class="notif" ng-if="newl.status">{{newl.count}} &nbsp;</p>
                        </div>
                          <i data-toggle="modal" data-target="#cartModal" style="cursor:pointer; color:#fff" class="fa fa-shopping-basket fa-3x" aria-hidden="true"></i>
                  <div class="drp">
                          <ul> 
                          <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle nav-dark" style="color: #fff" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Categories
                                </a>
                            </button>
                            
                       
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                             
                                <a class="dropdown-item" href="#/categories" ng-repeat="(k,v) in fetchcateg track by $index">{{v.name}}</a>                                <!-- <a class="dropdown-item" href="categories.html">All Categories</a> -->                                      
                                <!-- <a class="dropdown-item" href="#">57 Motorsport</a>
                                
                                
                                
    
                                  
                                  <a class="dropdown-item" href="#">Black Feet</a>
                                <a class="dropdown-item" href="#">Daytona</a>
                                <a class="dropdown-item" href="#">Garcia</a>
                                <a class="dropdown-item" href="#">Gramlights</a>
                                <a class="dropdown-item" href="#">Hfullcross</a>
                                <a class="dropdown-item" href="#">Homura</a>
                                <a class="dropdown-item" href="#">Sebring</a>
                                <a class="dropdown-item" href="#">Versus</a>
                                <a class="dropdown-item" href="#">Volkracing</a>
                                <a class="dropdown-item" href="#">Waltz</a> -->
    
    
    
    
                               
                                </li>
                          </li >    <li class="nav-item dropdown" style="padding-top: 10px;"> <a id="a-submenu" href="#/alignment">WHEEL ALIGNMENT</a>
                           </li>   
                            <li class="nav-item dropdown" style="padding-top: 10px;">  <a id="a-submenu" href="#/breakrepair">BREAK REPAIR</a>
                             </li>  <li class="nav-item dropdown" style="padding-top: 10px;"> <a id="a-submenu" href="#/automaintenance">AUTO MAINTENANCE</a>
                                </li> 
                              </ul>
    
                        </div>
                          <br><br>
    
            </div>
            
        </div>
        <br>   <br>   <br>   <br>
    
        <div class="container"  style="outline: none;border:none;">
            <div class="row"  style="outline: none;border:none;font-family: 'Baloo Chettan', cursive;
            " >
                <div class="col-lg-12 text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" style="outline: none;border:0;">
                    <h1 style="line-height: 60px;font-size: 100px">BIONICWHEELS</h1>
                    <h1 style="font-size: 50px;">Car and Accesories</h1>
                </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                    <h3>Brakes & Brake Repair</h3>
                    
                   <h5 style="font-size: 19px;"> Do you need more runway than a jumbo jet to stop your car?
                     If you answered yes it's time to have your brakes inspected in </h5>
            
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12 text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">
                    <h1 style="font-size: 100px;color:aqua">___</h1>
                        <h3>Bionic Brake Expert</h3>
                        
                        <h5 style="font-size: 19px;"> From the brake pedal to hydraulic brake fluid, brake master cylinder to power brake booster, drum brakes to disc brakes and electronic anti-lock brake sensors, Midas technicians know every part of your brake system inside and out and can perform brake repair on any make and model.

No wonder Midas is one of North America’s brake service leaders.­ With locations throughout the US and Canada, you can be confident we’ll always be there when you need us.
</h5>    
<br>
   <br><br>
   <h3 class="text-left">BRAKE WARNING SIGNS
    </h3><br>
   <h5 class="text-left"> You know you need brake repair when:</h5>
   <h5 style="font-size: 19px;">
    <ul class="text-left wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" style="margin: 30px;">
        <li>The brake dashboard light glows amber, indicating problems with the anti-lock brake system (ABS)
            </li>
            <li>The brake dashboard light is red, indicating a system imbalance
                </li>
                <li>
                        The brake pedal is spongy or slow to respond

                </li>
                <li>
                        You hear grinding or constant squealing during braking

                </li>

    </ul>
    </h5>
    <br>
    <h5 style="font-size: 19px;">

    Any time you notice these or other symptoms, 
    it’s a good idea to have your brakes checked. At Bionicwheels,
     if our inspection reveals you do need brake repair service, 
     we will explain exactly what's required, 
    what’s optional and provide you with a written estimate before any work is done.
    </h5>
                </div>
            </div>

            <div class="row"><div class="container">                <div class="col-lg-12 text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                        <h1 style="font-size: 100px;color:aqua">___</h1>

                    <h3>Bionicwheels SECURETOP® Brake Service</h3>
                    <br>
                    <h5 style="font-size: 19px;">

                    Question: How many items are inspected during the SECURESTOP® brake service?
                        <br><br>
                        Bionicwheels understands how important brakes are and has developed a 55-point inspection 
                        process to diagnose
                         the health of your brake system. Our ASE-certified BIONICWHEELS AUTO SYSTEMS EXPERTS® 
                         will let you know which components need immediate attention and which ones can wait. 
                        And they’ll discuss brake repair options that fit within your budget.
                    <br><br>
                
                    <b>Our quality pads and shoes come with the famous Bionicwheels Lifetime Guarantee.* Brake pads and shoes purchased with this guarantee are warranted for as long as you own your car.</b>
                </h5>
                </div>
            </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                        <h1 style="font-size: 100px;color:aqua">___</h1>

                    <h3>Brake systems - more than you wanted to know.
                        </h3>
                        <h5 style="font-size: 19px;">

                        Your vehicle’s brake system has one job – to stop your vehicle. But it takes several key components to deliver that singular end result. To bring a vehicle to a halt, three things are necessary: leverage, hydraulic force and friction. Leverage is supplied by the driver’s leg pressure and the brake pedal. The pedal is connected by levers and rods to the back of the power booster. The power booster uses either engine vacuum or a hydraulic pump to multiply and transfer the force of that leverage to the master cylinder. The master cylinder is the heart of your vehicle’s brake hydraulic system. It uses applied leverage to force a reservoir full of brake fluid through valves, steel lines and rubber hoses into hydraulic calipers and wheel cylinders. That hydraulic pressure is then used to help create friction.

For example, disc brakes use a hydraulic caliper fitted with brake pads to grab a spinning disc (or rotor). Drum brakes, on the other hand, have a hydraulic wheel cylinder that pushes a brake shoe against the inside of a spinning drum. Either design involves highly engineered parts and precise movement. The more force a driver applies to the brake pedal, the greater the stopping force that is applied at the wheels.

In addition to this primary braking system, most of today’s vehicles utilize an electronic Anti-lock Brake System. Using electronic sensors and high pressure pumps, under certain conditions, your ABS system can measure vehicle speed, wheel slip and brake force. Then it actually pumps the brakes for you during an emergency stop.

That’s why it’s essential to be proactive about testing overall brake components. And to know whether a brake component needs simply to be serviced or totally replaced.
</h5>             
</div> 
            </div>
         <!-- <div class="row" style="  font-family: 'Abel', sans-serif;     ">
            <div class="col-lg-4">
                <img src="./media/narrow-road_resized.jpg" class="img-thumbnail wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
            </div>
            <div class="col-lg-8" style="background: rgb(240, 236, 236)" >
                <br>
                <h2 class="wow fadeIn"   style="float: none;line-height: 25px;text-transform: none;font-size: 33px; font-family: 'Abel', sans-serif;
                "  data-wow-duration="2s" data-wow-delay="1.5s">TIRE ALIGNMENT THAT KEEPS YOU ON THE STRAIGHT AND NARROW.</h2>
                <hr class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1.5s">
                <br>
                <p class="wow fadeIn" data-wow-duration="2s" data-wow-delay="2.2s" 
                style="float: none;line-height: 25px;text-transform: none;font-size: 20px; font-family: 'Abel', sans-serif;
                " 
                class="blockquote text-dark text-justify">
                        When your tire alignment is off, your ability to drive safely is compromised. 
                        Sometimes unaligned wheels can be 
                        obvious – your car pulls to one side of the road or your steering wheel 
                        has a vibration in it from balancing issues. In some cases, 
                        it can be subtle and the driver won't even notice. 
                        That's why regular tire alignment checkups are a must-do. 
                        The better maintenance you keep, the longer your car will run healthily. 
                        If your car alignment feels off – or if it's simply been 
                        a while – come see us at BionicWheels and our alignment 
                        experts will take a look.
                        
                        When your wheels are aligned, your car handles better. 
                        Wheel alignment from Firestone Complete Auto Care means long lasting, 
                        optimal performance. Our technicians know how to keep your car running straight and smooth.
                    </p>
            </div>
         </div> -->
    <br><br><br>
    
    
    <!-- <div class="row" style="  font-family: 'Abel', sans-serif;     ">
        <div class="col-lg-12 style="background: rgb(240, 236, 236)">
    
            <h1 class="text-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"  style="float: none;line-height: 25px;text-transform: none;font-size: 33px; font-family: 'Abel', sans-serif;" >CAR ALIGNMENT SERVICES</h1>
            <hr>        
        </div>
                
            <div class="col-lg-8 wow fadeInLeft" style="background: rgb(243, 241, 241)" data-wow-duration="2s" data-wow-delay="1s" >
                    <p style="float: none;line-height: 25px;text-transform: none;font-size: 20px;font-family: 'Abel', sans-serif;" class="blockquote text-dark text-justify">
                            Bionicwheels offers different limited warranties on our wheel alignments to match our 
                            customer's unique needs. From a 12-month limited warranty to a lifetime limited warranty,
                             Bionicwheels has options to suit you. 
                             Just want to check in and make sure your car alignment is balanced? 
                             Get peace of mind with our alignment check.
    
    
                </p>
                <br>
    <hr>
    <h2>WHEEL ALIGNMENT CHECK </h2>
    <ul style="padding: 15px;font-size: 20px;font-family: 'Abel', sans-serif;">
        <li>Inspect vehicle suspension and steering systems, including tire air pressure and tire condition
            </li>
            <li>Vehicle placed on an alignment rack, where laser sensors are mounted and measure the current alignment settings
                </li>
                <li>Print initial tire alignment readings
                    </li>
    </ul>
    <br>
    <hr>
    <h2>WHEEL ALIGNMENT: STANDARD    </h2>
    <ul style="padding: 15px;font-size: 18px;"> 
        <li>Inspect suspension and steering systems, including air pressure and tire condition
            </li>
        <li>Vehicle placed on alignment rack, where sensors are mounted and compensated
            </li>
    
        <li>Print initial tire alignment readings.
            </li>
    
        <li>Camber, caster and toe angles are adjusted according to manufacturer specifications
            </li>
    
        <li>Print final tire alignment readings.
            </li>
    
        <li>Test drive the vehicle
            </li>
    
    </ul>
            </div>
            <div class="col-lg-4  wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s" >
                    <img src="./media/Winton Autos tyre safety wheel alignment uneven.jpg" class="img-thumbnail">
                   
                </div>
         </div> -->
         <br><br><br>
         
        </div>
    
    
    
    
    
    
    
        </body>
        </html>