
<div class="main-content">
  
        <section class="section">
          <h1 class="section-header">
            <div>Product</div>
          </h1>
          <div class="row">
              <div class="col-lg-4">
          <input type="text" class="form-control" placeholder="Search...">
          <br>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-light" title="Table list"><ion-icon name="list" style="zoom:2.0"></ion-icon></button>          
              <button class="btn btn-light" title="List"><ion-icon name="apps" style="zoom:2.0"></ion-icon></button>
              <br>

        </div>
        <div class="col-lg-3">

            <span>
                <select class="form-control col-lg-8">
                        <option selected disabled>Select By:</option>
                        <option>Title</option>
                        <option>Date</option>
                        <option>Price</option>
                        <option>Category</option>
                      </select>
                </span>
                <br>
        </div>
   
        <div class="col-sm-2">
                <a href="#/addproduct" class="btn btn-primary"><ion-icon name="add"></ion-icon>Add New</a>

        </div>
        </div>

          <div class="row">
                <div class="col-lg-3 prodlist" style="background:#fff;padding: 20px 20px;height: 350px;text-align: center;" ng-repeat="(key, value) in fetch track by $index">
                        <img src="../../media/slide.jpg" class="img-thumbnail" width="auto" height="200px" alt="img">
                        <p>Item:&nbsp;{{value.item}} </p>
                        <p>Category:&nbsp;{{value.type}} </p>
                        <p>Price:&nbsp;{{value.price | currency:"&#8369":0}} </p>
                        <p>Stocks:&nbsp;{{value.quantity}}</p>
                        <p>Date added:&nbsp;{{value.created_at}} </p>
                        <button type="button" data-toggle="modal" data-target="#editModal" class="btn btn-primary" ng-click="prodedit(value)" title="Edit"><ion-icon name="create"></ion-icon></button>
                        <button type="button" class="btn btn-primary" ng-click="proddel(value)" title="Delete"><ion-icon name="trash"></ion-icon></button>
                    </div>
</div>
</section>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">    
        <div class="row">
          <div class="col">
            <span>
            Product Name:<input type="text" class="form-control" ng-model="pk.name" value="{{modal.id}}">
          </span>
          </div>
        </div>
          <div class="row">
              <div class="col">
                <span>
                  Description:
          <textarea class="form-control" rows="3" maxlength="795" >{{modal.description}}</textarea> 

              </span>
              </div>

        </div>
        <div class="row">
            <div class="col">
              <span>
              Price:<input type="number" class="form-control" ng-model="pk.price" value="{{modal.price}}">
            </span>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <span>
                Category<input type="text" class="form-control" ng-model="pk.categ" value="{{modal.type}}">
              </span>
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <span>Picture:
                                        <div class="custom-file">
                        <input type="file" class="custom-file-input col-lg-10" id="customFile" ng-model="prodfile" required>
                        <label class="custom-file-label" for="customFile" required>Choose File</label>
                    </div>
                  </span>

                </div>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" ng-click="editmodal()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>